.NavButton--next {
  background: white;
  border: 0.25em solid mediumseagreen;
  cursor: pointer;
  color: mediumseagreen;
  display: inline;
  font-size: 2.5em;
  font-weight: bold;
  height: 2.75em;
  margin: 2em 1.2em;
  padding-top: 1em;
  padding-bottom: 2.25em;
  text-align: center;
  text-transform: uppercase;
  width: 12em;
}

.NavButton--next:hover {
  background: mediumseagreen;
  color: white;
}
