.Quiz__link {
  background: white;
  border: 0.25em solid mediumseagreen;
  cursor: pointer;
  color: mediumseagreen;
  display: block;
  font-size: 2.5em;
  font-weight: bold;
  margin: 2em auto;
  padding: 1.2em 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  min-width: 25%;
}

.Quiz__link:hover {
  background: mediumseagreen;
  color: white;
}