.Question__heading {
  font-size: 3.25em;
  margin: .6em .8em;
  margin-top: 1em;
}

.Question__heading--question {
  font-size: 3em;
  margin: .6em .9em;
}

.Question__fieldset {
  border: .35em solid mediumturquoise;
  margin: .5em 3em 6em 3em;
  padding: 2em 3em;
}

.Question__legend {
  border: .15em solid mediumturquoise;
  font-size: 2.75em;
  font-weight: bold;
  margin: .3em;
  padding: .65em .75em;
}