* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html,
body {
  box-sizing: border-box;
  color: #333;
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 62.5%;
  height: 100%;
  margin: 2em auto;
}

main {
  margin: 0 auto;
  width: 80%;
}

h1 {
  font-size: 5.5em;
  margin: .6em .45em;
}

h2 {
  font-size: 4.5em;
  margin: .6em .55em;
}

h3 {
  font-size: 3.25em;
  margin: .4em .8em;
  margin-top: 1em;
}

h4 {
  font-size: 3em;
  margin: .3em;
}

h5 {
  font-size: 2.75em;
  margin: .3em;
}

p {
  font-size: 2.5em;
  margin: .3em;
  padding: .2em .5em;
}
