.ProgressBar {
  margin: 1em 2.5em 5em 2.5em;
}

.ProgressBar__heading {
  margin: .5em 0;
  text-align: center;
}

.ProgressBar__outline {
  border: .35em solid mediumturquoise;
  border-radius: 4em;
  height: 6.5em;
  margin: 1em auto;
  width: 500px;
  min-width: 25%;
}

.ProgressFill {
  border-radius: inherit;
  background: mediumturquoise;
  height: 100%;
}