.Answer__label {
  cursor: pointer;
  display: block;
  font-size: 2.5em;
  margin: .6em .2em;
  padding: .3em .6em;
}

.Answer__input {
  cursor: pointer;
  margin: .2em 1em .2em 0;
  padding: .2em .5em;
}